* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

button {
    height: auto;
    width: 25%;
    background-color: rgb(253, 252, 237);
    font-size: 4vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}

button:hover {
    background-color:rgb(235, 234, 220);
}

button:active {
    background-color: rgb(190, 190, 186);
}

.container, 
.display {
    border: 5px solid;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    background-color: slategrey;
    min-height: 80vh;
    width: 30vw;
    margin: 10vh auto;
    padding: 2vh;
    border-radius: 5px;
    border-color: rgb(70, 68, 68);
}

.display,
.button-container {
    width: 100%;
}

.display {
    min-height: 20%;
    background: rgb(225, 255, 181);
    text-align: right;
    text-shadow: 1px 1px 2px black;
    font-size: 12vh;
    padding: 1vw;
    border-color: rgb(195, 218, 162);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.special {
    background: rgb(255, 201, 100);
    border-color: rgb(201, 166, 101);
}

.special:hover {
    background-color: rgb(236, 188, 97);
}

.special:active {
    background-color: rgb(189, 156, 95);
}

.operations {
    background-color: paleturquoise;
    border-color: rgb(121, 175, 175);
}

.operations:hover {
    background-color: rgb(170, 214, 214);
}

.operations:active {
    background-color: rgb(137, 158, 158);
}

#eql {
    background-color: rgb(203, 212, 203);
    border-color: rgb(163, 170, 163);
    width: 50%;
}

#eql:hover {
    background-color: rgb(181, 187, 181);
}

#eql:active {
    background-color: rgb(150, 158, 150);
}